body {
    background-color: rgb(162, 175, 202)
}

h1 {
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    padding: auto;
    margin: auto;
    font-weight: normal;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    background-color: none;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    padding: auto;
    margin: 20px;
    font-weight: lighter;
    color: rgb(7, 84, 10);
    background-color: none;
}

.story-box {
    text-align: center;
}

p {
    font-family: ;
    font-size: ;
    padding: ;
    margin: ;
    color: ;
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url();
    background-color: whitesmoke;
    height: 200px;
    width: auto;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
